@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes fall {
  0% {
      top: -10%;
      opacity: 1;
      transform: rotate(0deg);
  }
  100% {
      top: 110%;
      opacity: 0.5;
      transform: rotate(720deg);
  }
}
.animate-fall {
  animation: fall linear infinite;
}